* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
}

main {
  width: 100% !important;
}

.panelWrapper h1 {
  color: #1C4D43;
  font-family: Roboto;
  font-size: 56px;
}

form {
  font-family: "Robot";
  width: 100%;
  max-width: 360px;
}

form div {
  width: 100%
}

form input,
form select {
  display: block;
  width: 100%;
  max-width: 360px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #006C90;
  margin-bottom: 21px;
  text-indent: 15px;
}

form div input {
  margin-bottom: 0px;
}

form select option {
  text-indent: 15px;
}

form select:focus {
  border: 1px solid #006C90;
}

form button {
  margin-top: 20px;
  width: 155px;
  height: 38px;
  background: #33BD7D;
  border-radius: 4px;
  color: #fff;
  border: none;
  font-size: 20px;
  transition: .3s;
}

form button:hover {
  background-color: #006C90;
}

.listHeadline button svg {
  display: flex;
  flex-direction: row;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 60px;
  color: #33BD7D;
}

.listHeadline button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .6s;
  background: #FAFAFA;
  border: 2px solid #EDFDF3;
  box-sizing: border-box;
  border-radius: 10px;
  margin: auto;
}

.listHeadline button:hover svg {
  transition: .8s;
  color: #1C4D43;
  transition: .6s;
}

.listOptions {
  font-size: 20px;
  color: #1C4D43;
  font-weight: bold;
}

.queryButton {
  font-size: 15px;
  color: #fff;
  padding: 5px 15px;
  background: #1C4D43;
  border-radius: 4px;
}

.queryButton p {
  width: 100%;
}

.queryButton p:first-letter {
  text-transform: capitalize;
}

.queryButton:nth-child(1) {
  background-color: transparent;
  color: #1C4D43;
  padding: 5px 0px;
}

.characterLi {
  background-color: #F7F7F7;
  border-radius: 10px;
  transition: .3s;
}

.characterLi:hover {
  cursor: pointer;
  box-shadow: rgb(51 189 125) 0px 0px 3px 2px;

}


.characterLi span {
  text-align: center;
  width: 100%;
}

.characterLi img {
  max-height: 130px;
  border-radius: 10px;
}

.listCharacters div {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listCharacters .headlineList {
  line-height: 16px;
  letter-spacing: 0.192px;
  color: #80A59D;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
}

.characterLi span {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.192px;
  color: #1C4D43;
  word-break: break-all;
}


.characterName span:nth-child(2) {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.216px;
  color: #1C4D43;
  font-weight: bold;
}

.characterName span:nth-child(1) {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.216px;
  color: #1C4D43;
}

.wrapperLogo {
  max-width: 80%;
}

header {
  transition: .7s;
}

@media (max-width: 991.98px) {
  header {
    height: 40vh;
  }

  .logo {
    width: 75%;

  }

  .panelWrapper h1 {

    color: #1C4D43;
    font-family: Roboto;
    font-size: 36px;
  }
}

@media (max-width: 575.98px) {
  header {
    height: 35vh;
  }

  .logo {
    width: 65%;

  }

  .queryButton {
    min-width: 180px;
  }

  .listCharacters .characterLi div {
    width: 100%;
  }

  .characterLi span:nth-child(1) {
    width: 30%;
    text-align: left;
    font-size: 20px;
    color: #80A59D;
  }

  .characterLi span:nth-child(2) {
    width: 130px;
    text-align: center;
  }

  .wrapperLogo {
    max-width: 100%;
  }

  .characterName span:nth-child(1) {
    font-weight: normal;
    color: #80A59D;
  }
}

@media (max-width: 375.98px) {
  header {
    height: 25vh;
  }

  .panelWrapper h1 {
    font-size: 32px;
  }
}